.panel-heading
  .panel-title.pull-left
    a.article-title(href=`/article/${article.article_id}`)= article.title
    .article-date= moment(article.date_published).format('YYYY-MM-DD HH:mm')
  .article-tags.pull-right
    each tag in article.tags
      a.tag.label.label-primary(href=`/tag/${tag.tag_id}`)= tag.tag_name
  .clearfix
