extends layout

block content
  h1= title
  ul.article-list
    each article in articles
      li.article-entry
        div.left
          a.article-title(href='/article/' + article.article_id)= article.title
          a.author-name(href='/author/' + article.author_id)= article.author_name
        div.tags
          each tag in article.tags
            a.tag-link(href='/tag/' + tag.tag_id)= tag.tag_name
