doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    .navbar.navbar-default: .container-fluid
      .navbar-header
        a.navbar-brand(href='/') Blog Application
      ul.nav.navbar-nav.navbar-right
        if user
          include includes/user-dropdown
        else
          li: a(href='/login') Log in
          li: a(href='/user/new') Sign up
    .container.col-md-8
      .page-header
        h1= title
      block content
    .container.col-md-2
      block sidebar
