@import 'variables';

h1 {
  color: $brand-primary;
}

.article-list {
  list-style: none;
  width: 70%;

  .article-entry {
    background-color: $brand-primary;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;

    .left {
      display: inline-block;

      .article-title, .author-name {
        display: block;
      }
    }

    .tags {
      float: right;

      .tag-link {
        margin: 5px;
      }
    }
  }
}
