@import 'variables';
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

.label + .label {
  margin-left: 5px;
}

.article-title + .article-date {
  display: inline-block;

  &:before {
    margin: 0 5px;
    content: '-';
  }
}
