extends ../layout

block content
  form#signup(method='post')
    .form-group
      label(for='signup-email') Email:
      input#signup-email.form-control(type='email', name='email', placeholder='Email Address')
    .form-group
      label(for='signup-name') Name:
      input#signup-name.form-control(type='text', name='name', placeholder='Full Name')
    .form-group
      label(for='signup-password') Password:
      input#signup-password.form-control(type='password', name='password', placeholder='Password')
    .form-group
      label(for='signup-password2') Confirm Password:
      input#signup-password2.form-control(type='password', name='password2', placeholder='Confirm Password')
    button.btn(type='submit') Sign Up
