extends ../layout

block content
  .article-list
    each article in articles
      .article-entry.panel.panel-default
        include ../includes/article-heading
        .panel-body
          a.article-author(href=`/author/${article.author_id}`)= article.author_name
          p.article-content= article.content.substr(0, 140).trim() + '...'
